<!DOCTYPE html>
<html lang="en">

<head>
  <title>SnapShot &mdash; Chia sẻ ảnh miễn phí</title>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/lightgallery.min.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/swiper.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>




    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="/" class="text-black h2 mb-0">SnapShot</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="/">Home</a></li>
                <li class="has-children">
                  <a href="single.html">Thư viện</a>
                  <ul class="dropdown">
                    <li><a href="/gallery/nature">Thiên nhiên</a></li>
                    <li><a href="#">Hội họa</a></li>
                    <li><a href="#">Hoang dã</a></li>
                    <li><a href="#">Thú cưng</a></li>
                    <li><a href="#">Con người</a></li>
                    <li><a href="#">Thể thao</a></li>
                    <li><a href="#">Du lịch</a></li>
                    <li><a href="#">Khác</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="single.html">Upload ảnh</a>
                  <ul class="dropdown">
                    <li><a href="#">Ảnh đơn</a></li>
                    <li><a href="#">Album</a></li>
                  </ul>
                </li>
                <li><a href="#">About us</a></li>
                <li>
                  <div class="search-area">
                    <form action="#" method="post">
                      <input type="search" name="search" id="search" placeholder="Tìm kiếm ảnh, tác giả,...">
                      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                  </div>
                </li>

              </ul>
            </nav>
          </div>
          <% if (fullname.length > 0) {%>
          <div class="login-state d-flex align-items-center">
            <div class="user-name mr-30">
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="userName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= fullname %></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userName">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Account Info</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </div>
            </div>
            &nbsp;&nbsp;
            <div class="userthumb">
              <img src="images/core-img/user.png" alt="" style="max-width:100%">
            </div>
          </div>
          &nbsp;
          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
          <%} else { %>
            <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
              <div class="d-none d-xl-inline-block">
                <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                  <li><a href="/login">Đăng nhập</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="/register">Đăng ký</a></li>
                </ul>
              </div>

              <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

            </div>
          <% } %>
        </div>
      </div>
    </header>
    <% if (message.length > 0) { %>
    <div class="alert alert-primary alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= message %>
    </div>
    <% } %>
