<% include header %>

<div class="container-fluid" data-aos="fade" data-aos-delay="500">
  <div class="swiper-container images-carousel">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Thiên nhiên</h2>
                <a href="/gallery/nature" class="btn btn-outline-white py-2 px-4">Xem thêm</a>
              </div>
              <img src="images/img_1.jpg" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Hội họa</h2>
                <a href="/gallery/art" class="btn btn-outline-white py-2 px-4">Xem thêm</a>
              </div>
              <img src="images/img_2.jpg" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Con người</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">Xem thêm</a>
              </div>
              <img src="images/img_3.jpg" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Hoang dã</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">Xem thêm</a>
              </div>
              <img src="images/img_5.jpg" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Thú cưng</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">Xem thêm</a>
              </div>
              <img src="images/img_8.jpg" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Thể thao</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">Xem thêm</a>
              </div>
              <img src="images/img_6.jpg" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Du lịch</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">Xem thêm</a>
              </div>
              <img src="images/img_7.jpg" alt="Image">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-wrap">
              <div class="image-info">
                <h2 class="mb-3">Khác</h2>
                <a href="single.html" class="btn btn-outline-white py-2 px-4">Xem thêm</a>
              </div>
              <img src="images/img_4.jpg" alt="Image">
            </div>
          </div>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
  </div>
</div>


<section class="cool-facts-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                    <div class="icon">
                        <img src="images/core-img/docs.png" alt="">
                    </div>
                    <h2><span class="counter">572</span></h2>
                    <h5>Bức ảnh</h5>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <div class="icon">
                        <img src="images/core-img/star.png" alt="">
                    </div>
                    <h2><span class="counter">123</span></h2>
                    <h5>Album</h5>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
                    <div class="icon">
                        <img src="images/core-img/events.png" alt="">
                    </div>
                    <h2><span class="counter">89</span></h2>
                    <h5>Người dùng</h5>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                    <div class="icon">
                        <img src="images/core-img/earth.png" alt="">
                    </div>
                    <h2><span class="counter">8</span></h2>
                    <h5>Chủ đề</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>

<% include general/footer %>
